.alzamiento-section {
  margin-bottom: 20px;
}

.alzamiento-section-header {
  cursor: pointer;
  margin: 0;
  font-size: 20px;
  color: #81d4fa;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2a2a40;
  color: #81d4fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alzamiento-section h3::after {
  content: "▼"; /* Arrow down by default */
  font-size: 14px;
  transition: transform 0.2s ease;
}
.alzamiento-section.collapsed h3::after {
  content: "▶"; /* Arrow pointing right when collapsed */
  transform: rotate(0);
}

.alzamiento-section-content {
  padding: 10px;
  background-color: #1e1e2e;
  display: none; /* Hide content by default */
}

.mission-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffcc80;
}

.subsection {
    margin-top: 10px;
    border-left: 4px solid #555;
    padding-left: 10px;
}

.subsection-title {
  font-size: 1em;
  font-weight: bold;
  color: #ffcc80;
}

.subsection-content {
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 5px;
    margin-top: 5px;
}

.alzamiento-section:not(.collapsed) .alzamiento-section-content {
  display: block; /* Show content when not collapsed */
}

.alzamiento-section ul {
  list-style-type: none;
  padding: 0;
}

.alzamiento-section ul li {
  background: #2a2a40;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resource-item a {
    color: #66b2ff;
    text-decoration: underline;
    transition: color 0.15s ease;
}

.alzamiento-section ul li .character-name {
  font-size: 16px;
  color: #ffcc80;
}

.alzamiento-section ul li .player-name {
  font-size: 14px;
  color: #b0bec5;
}

.alzamiento-section ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #00bcd4;
}

.relic-upgraded-required {
  color: #ffab40;
  text-align: center;
}

.character-item {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.character-item.in_progress {
    background-color: #aaaa66;
}

.character-item.done {
    background-color: #3ba55d;
}

.character-name {
  color: rgb(255, 204, 128);
  font-size: 1.5em;
  font-weight: bold;
}

.alzamiento-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.alzamiento-table th, .alzamiento-table td {
  border: 1px solid #00bcd4;
  text-align: center;
  padding: 8px;
}

.alzamiento-table th {
  background-color: #2a2a40;
  color: #00e5ff;
  font-size: 18px;
}

.alzamiento-table td {
  background-color: #1e1e2e;
  color: #e0e0e0;
}

#operations-guild-table {
  width: 100%;
}

#operations-guild-table tr {
  border: 1px solid #ccc;
}

.row-red {
  background-color: red !important;
}

.row-yellow {
  background-color: #ff9800 !important;
}

.row-green {
  background-color: green !important;
}

td {
  text-align: center;
  padding: 8px;
}

.gold {
  background-color: #FFD700; !important; /* Color oro */
}

.silver {
  background-color: #C0C0C0; !important; /* Color plata */
}

.bronze {
  background-color: #CD7F32; !important; /* Color bronce */
}

.editable-input {
    width: 100%; /* Ajusta el ancho al de la celda */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
    border: none; /* Quita el borde por defecto */
    text-align: center; /* Centra el texto */
    font-size: 16px; /* Tamaño de fuente similar al resto de la tabla */
    appearance: none; /* Elimina los botones up/down */
    -moz-appearance: textfield; /* Compatible con Firefox */
}

/* Para bordes visibles al interactuar */
.editable-input:focus {
    outline: none; /* Sin contorno adicional */
    border: 1px solid #ccc; /* Agrega un borde tenue al enfoque */
    background-color: #f9f9f9; /* Fondo claro al interactuar */
}

/* Colores */
.red, .yellow, .green, .dark-blue, .blue {
    border: 1px solid #ccc;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.red {
    background-color: red !important;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: green !important;
}
.special {
    position: relative; /* Asegura que el contenido de la celda se posicione correctamente */
    background-image: repeating-linear-gradient(
        135deg,           /* Ángulo de las rayas */
        rgba(255, 255, 255, 0.5) 0%,  /* Raya clara */
        rgba(255, 255, 255, 0.5) 10%, /* Fin de la raya clara */
        rgba(0, 0, 0, 0) 10%,         /* Transparencia para el color base */
        rgba(0, 0, 0, 0) 20%          /* Espaciado entre rayas */
    );
}

.dark-blue {
    background-color: darkblue !important;
}
.blue {
    background-color: blue !important;
}

/* Estilo del hover */
.yellow:hover::after, .dark-blue:hover::after, .blue:hover::after, .special:hover::after {
    content: attr(data-hover);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    top: -30px;
    left: 0;
    transform: translateX(-50%);
    z-index: 10;
}

#missions-list {
    list-style-type: none;
    padding: 0;
}

.mission-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.mission-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffcc80;
}

.mission-character {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #ffcc80;
}

.mission-character img {
    width: 50px; / Ajusta el tamaño de la imagen /
    height: auto;
    margin-right: 10px;
}

.mission-players {
    font-size: 1em;
    color: #ffcc80;
}